.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #333;
}

.button-container {
  display: flex; /* Alterado para flex para colocar os botões em linha */
  margin-top: 10px;
}

button {
  width: 60px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px; /* Adicionado margem à direita para separar os botões */
}

button:hover {
  background-color: #2980b9;
}
